.nav-link {
    display: flex;
    margin-left: 25px;
    font-weight: 700;
}
.arrow-icon {
    font-size: 9px;
    color: #ff7907;
    margin-left: 10px;
    margin-top: 13px;
    height: 100%;
}
.nav-item {
    position: relative;
}
.navbar-brand {
    margin-right: 70px;
}
#header-menu2 {
    background-color: #e9ecef;
}
#header-menu1 .nav-link{
    font-size: 1.4rem;
}
#header-menu2 .nav-link{
    font-size: 1.1rem;
}
@media (max-width: 767.98px) {
    #header-menu2 {
        background-color: transparent;
    }
    #header-menu2 .nav-link{
        font-size: 1.4rem;
    }
}
#header-menu0 ul {
    list-style-type: none;
    margin: 0;
}
#header-menu0 ul li{
    display: inline-block;
    line-height: 2rem;
    margin-right: 1rem;
}
.btn {
    border: 3px white solid;
    border-radius: 20px;
}